<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><h3><a href="/users/signup">회원가입</a></h3></p>
    <p><h3><a href="/users/login">로그인</a></h3></p>
  </body>
</html>
