<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='/javascripts/users.js'></script>
</head>
<body>
	<h3>회원가입</h3>
	<fieldset>
		<form id="modifyForm">
			아이디 : <%=uid%>
      <br/>
      패스워드 : <input id="upwText" type="password" name="upw" required/>
      <br/>
      이름 : <input id="nameText" type="text" name="name" required value="<%=name%>"/>
			<input type="submit" value="수정">
		</form>
	</fieldset>
</body>
</html>
